:root {
    --btn-normal: rgb(217, 204, 128);
    --btn-hover: rgb(235, 224, 162);
    --btn-focus: rgb(204, 192, 120);
    --main-color: #808080;
    --back-color: #f8f8f8;
    --footer-back: #1b1b1b;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    font-size: 1.25rem;
    line-height: 2.5rem;
}
h1, section h2 {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    line-height: 4.625rem; 
    font-weight: normal;
}
h1+p {
    font-family: 'Merriweather', serif;
    font-size: 1.75rem;
    line-height: 3.125rem;
    font-weight: normal;    
}
section {
    text-align: center;
    padding: 10rem 0;
}
section h2 {
    margin-bottom: 3rem;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.btn {
    display: inline-block;
    font-weight: normal;
    color: #000;
    text-align: center;
    vertical-align: middle;  
    background-color: var(--btn-normal);
    padding: 1rem 0;
    font-size: 1.25rem;
    line-height: 1.5;
    transition: background-color 0.15s ease-in-out;
    width: 250px;
    margin-top: 5rem;
}
.btn:hover {
    background-color: var(--btn-hover);
    color: #000;
    text-decoration: none;
}
.btn:focus {
    outline: 0;
    background-color: var(--btn-focus);
}
.header {
    text-align: center;
    padding: 0 0 10rem 0;
}
.header .cook-photo {
    margin-top: -115px;
}
.header h1 {
    margin: 3rem 0;
}
.top {
    background-color: var(--back-color);
    height: 300px;
}
.back-img {
    background-size: cover;
    background-position: center center; 
}
.section-1 {
    background-image: url(../img/pt-2-bg.jpg);
    color: #fff;
}
.section-2 {
    background-image: url(../img/pt-3-bg.jpg);
    color: #fff;    
}
.section-2 .list-block div {
    display: flex;
    margin-bottom: 3rem;
}
.section-2 .list-block div>span:first-child {
    font-size: 3rem;
}
.section-2 .list-block div>span:last-child {

}
.product {
    display: block;
    position: relative;
    margin-bottom: 1.5rem;
}
.product:hover {
    text-decoration: none;
}
.product .label {
    position: absolute;
    right: 0;
    top: 10px;
    color: #000;
    font-size: 1rem;
    padding: 0 .5rem;
    background-color: var(--btn-normal);
}
.product .name {
    font-size: 1rem;
    color: var(--main-color);
}
.product:hover .name {
    color: #000;
}
.section-4 {
    background-image: url(../img/pt-5-part-1-bg.jpg);
    color: #fff;
}
.section-5 {
    background-color: var(--back-color);
}
.section-5 p {
    font-size: 1rem;
}
.section-6 p {
    font-size: 1rem;
}
.category {
    display: block;
    position: relative;
    margin: 3rem 0;
}
.category:hover {
    text-decoration: none;
}
.category .label {
    position: absolute;
    right: 0;
    top: 10px;
    color: #000;
    font-size: 1rem;
    padding: 0 .5rem;
    background-color: var(--btn-normal);
}
.category .name {
    font-size: 1rem;
    color: var(--main-color);
    margin-top: 1rem;
}
.category:hover .name {
    color: #000;
}
.section-7 {
    background-color: var(--back-color);
}
.review-slider .review-item {
    background-color: #fff;    
    padding: 3rem 5rem;
}
.section-8 {
    background-image: url(../img/bg1.jpg);
}
.section-9 {
    background-image: url(../img/bg2.jpg);
}
.section-10 {
    background-image: url(../img/bg3.jpg);
}
.section-8 .message,
.section-9 .message,
.section-10 .message {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #fff;
    /* background-color: rgba(0, 0, 0, .5); */
    padding: 2rem;
}
.section-12 {
    background-image: url(../img/bg.jpg);
    color: #fff;
}
.section-12 p {
    font-family: 'Merriweather', serif;
    margin-bottom: 5rem;
}
.section-12 input {
    display: inline-block;
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    width: 50%;
}
.footer {
    background-color: var(--footer-back);
    padding: 5rem 0;
}
.contacts a,
.contacts span {
    display: block;
    font-size: 1.75rem;
    line-height: 3.125rem;
    font-weight: 100;
    color: var(--back-color);
    margin-bottom: 1.5rem;
}
.contacts a:hover {
    text-decoration: none;
}
/* Slider */
.slick-slide {
    outline: none
}
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 68px;
    height: 68px;
    cursor: pointer;
    border: none;
    outline: none;
}
.slick-prev:focus,
.slick-next:focus {
    outline: none;
}
.slick-prev:hover {
    background-image: url(../img/left-button\ hover.png);
}
.slick-next:hover {
    background-image: url(../img/right-button\ hover.png);
}
.slick-prev {
    background-image: url(../img/left-button.png);
    left: -100px;
}
.slick-next {
    background-image: url(../img/right-button.png);
    right: -100px;
}
@media (max-width: 575px) {
    body {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    h1, section h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    h1+p {
        font-size: 1.25rem;
        line-height: 2rem;
    }
    section {
        padding: 3rem 0;
    }
    section h2 {
        margin-bottom: 1.5rem;
    }
    .top {
        height: 150px;
    }
    .header {
        padding: 0 0 3rem 0;
    }
    .slick-prev,
    .slick-next {
        display: none!important;
    }
    .btn {
        margin-top: 3rem;
    }
    .category {
        margin: 1.5rem 0;
    }
    .review-slider .review-item {  
        padding: 1.5rem 1rem;
    }
    .section-12 input {
        width: 100%;
    }
    .footer {
        padding: 3rem 0;
    }
    .contacts a,
    .contacts span {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

}